.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
nav a{
    text-decoration: none;
    padding:1%;
    color: red;
    font-size: 20px;
}
nav{
    width: 100%;
    text-align: center;
    padding: 1%;
    background-color: black;
}
img{
    border-radius: 0%;
    margin: 1%;
    height: 420px;
    width: 1300px;
}
body{
    background-image: url("BSCS23049_image5.png");
    background-repeat: no-repeat;
    background-image: linear-gradient(orange, rgb(252, 255, 58), rgb(51, 25, 0));
    background-size: cover;
}
p {
    font-size: 15px;
}
style
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }           
    li {
        display: inline;
        border-right: 1px solid grey;
    }


a:active{
    color: red;
    }

a:hover{
    background-color: red;
}

a:focus{
    color:yellow;
}
contact {
    width: 100%;
    text-align: center;
    padding: 1%;
    text-align: center;
    padding: 3px;
    background-color: cyan;
    color: red;
  }
.header li{
 display: inline;
 margin-right: 20px;
}
.top-left {
    color: indigo;
    font-style: normal;
    position: absolute;
    top: 120px;
    left: 230px;
  }
  
.bottom-left {
    color: darkblue;
    font: bold;
    position: absolute;
    top: 170px;
    left: 100px;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: royalblue;
  }